body, html {
  overflow: hidden;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

/* Icons
------------------------------------------*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Clickables
------------------------------------------*/

a {
  color: #03A9F4;
}
button {
  background: #66BB6A;
  padding: 1rem;
}
.navbar {
  width: 210px;
  margin-left: -210px;
}
.navbar-links a {
  text-decoration: none;
  color: #eee;
  height: auto;
  width: 100%;
  display: inline-block;
  margin-bottom: 16px;
  padding: 1em;
}
.navbar-links a:hover {
  color: #4FC3F7;
}

/* Header
------------------------------------------*/

header {
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* NavBar */

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 210px;
  height: 100vh;
  background-color: #455A64;
  z-index: 1;
}
.navbar-links {
  position: absolute;
  top: 1rem;
  width: 80%;
}
.nav-title {
  font-size: 2rem;
  display: inline-block;
}

/* Map
------------------------------------------*/

.map-overlay {
  width: 50vw;
  position: fixed;
  top: 1rem;
  left: 128px;
  z-index: 99;
  padding: 25px;
}
.map-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
}
.search-container {
  width: 50vw;
  position: absolute;
  right: 25vw;
  background-color: #fff;
  padding: 5px 0 0 0;
  vertical-align: middle;
}
#search-toggle {
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  height: inherit;
  margin: 0 -5px 0 0;
  padding: 10px;
  z-index: 2;
  display: inline;
  color: #9e9e9e;
}
#searchBox {
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  margin-left: -5px;
  display: inline;
  width: 80%;
}
@media (max-width: 480px) {
  .search-container {
    width: 95vw;
    position: absolute;
    right: 0;
  }
}

/* Headers and Labels
------------------------------------------*/

h5 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-shadow: .01em .01em .01em #424242;
}
label {
  color: white;
}
;

}
