body, html {
  overflow: hidden;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

/* Icons
------------------------------------------*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Clickables
------------------------------------------*/

a {
  color: #03A9F4;
}
button {
  background: #66BB6A;
  padding: 1rem;
  width: 100%;
  margin: .1em;
}
.navbar {
  width: 210px;
  margin-left: -210px;
}
.navbar-links a {
  text-decoration: none;
  color: #eee;
  height: auto;
  width: 100%;
  display: inline-block;
  margin-bottom: 16px;
  padding-right: 1em;
}
.navbar-links a i {
  padding-right: 1em;
}
.navbar-links a:hover {
  color: #4FC3F7;
}

/* Header
------------------------------------------*/

header {
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* NavBar */

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 210px;
  height: 100vh;
  background-color: #455A64;
  z-index: 1;
}
.navbar-links {
  position: absolute;
  top: 1rem;
  width: 100%;
}
.nav-title {
  font-size: 2rem;
  display: inline-block;
}

/* Map
------------------------------------------*/

main {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.map-overlay {
  width: 50vw;
  position: fixed;
  top: 1rem;
  left: 128px;
  z-index: 99;
  padding: 25px;
}
.map-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
}
.map {
  height: inherit;
}
#u-search {
  margin: 1rem;
  width: 50vw !important;
  display: block;
}
.popup-content {}
.popup-content h5 {
  color: #424242;
  text-shadow: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: .25rem;
}
#menu-toggle-fixed {
  position: fixed;
  z-index: 1;
  color: #fff;
  top: 0;
  left: 0;
  font-size: 3rem;
}

/* Headers and Labels
------------------------------------------*/

h5 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-shadow: .01em .01em .01em #424242;
}
label {
  color: white;
}
datalist {
  max-height: 250px;
  overflow: auto;
}
