body, html {
  overflow: auto;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  word-wrap: break-word;
}

/* Icons
------------------------------------------*/

header {
  margin: 0;
  padding: 0;
}
.navbar {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  min-height: 32px;
  background-color: #fff;
  display: inline-block;
}
#nav-search input {
  margin-top: 0;
  z-index: 2;
}

/* Icons
------------------------------------------*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* Clickables
------------------------------------------*/

a {
  color: #03A9F4;
}
button {
  background: #66BB6A;
  padding: 1rem;
  margin: .1em;
}

/* Headers and Labels
------------------------------------------*/
h1, h2, h3, h4, h5{
  font-family: 'Lato';
  color: #616161;
}
h5{
  font-size: 1.5rem;
}
label {
  color: #212121;
}
label .nice-label {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
}

/* Inputs
------------------------------------------*/

.awesomplete {
  width: 100% !important;
  z-index: 3;
}

/* Map
------------------------------------------*/

main {
  height: 100vh;
}

.padded{
  padding: 25px;
  font-size: 1rem;
}
